* {
	font-family: 'Montserrat';
}

body {
	background-color: #aa7070;
}

.container {
	margin-top: 2%;
}

/* NAVBAR */

.navbar {
	box-shadow: 2px 2px 7px black;
	padding-left: 12%;
	padding-right: 12%;
}

.navbar-brand {
	font-size: 3rem;
}

/* ANIMAL CARD */

.row {
	margin: 0;
}

.col-6 {
	padding: 0;
}

.animal-box {
	border-radius: 15px;
	box-shadow: 2px 2px 5px #5a3921;
	margin-bottom: 5%;
}

.text-box img {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

img {
	width: 100%;
}

.img-box img {
	width: 150%;
	position: relative;
	top: 18%;
	right: 60%;
}

.img-box {
	background-color: #c19191;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

h3 {
	position: absolute;
	top: 2%;
	font-weight: 900;
	padding: 5%;
}
